* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  ul {
    list-style: none;
    
  }
  
  ul li {
    padding: 5px;
    background: #8a1f1f;
    margin: 5px 0;
    border-radius: 20px;
    color: white;
  }
  
  header {
    background: darkseagreen;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 445px;
    padding: 7rem 0rem;
  }
  
  #my-form {
    padding: 2rem;
    background:#bdd4b9;
    border-radius: 20px;
  }
  
  #my-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #8a1f1f;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 13px 25px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 20px;
    margin:15px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: #8a1f1f;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 18px;
  }

  h4:hover {
     color: maroon;
  }

 